.PageContainer{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.formItem{
    margin-bottom: 2rem;
}

.label{
  text-align: right;
  line-height: 26px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.input{
    margin-left: 2rem;
    padding: 0.5rem;
    width: 10rem;
}

.select{
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.submitButton{
    border-radius: 8%;
    border: none;
    background-color: rgb(122, 122, 240);
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem;
}